* {
    padding: 0;
    margin: 0;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(https://eskipaper.com/images/free-graffiti-backgrounds-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

#container {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(26, 23, 1, 0.6);
    padding: 20px;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 8px;
}
#container h1 {
    margin-bottom: 10px;
    color: rgb(160, 163, 0);
}
#board {
    width: 600px;
    height: 600px;
    display: grid;
    border: solid;
    border-width: 2px;
    background-color: white;
}

.btns {
    padding: 5px 10px 5px 10px;
    margin: 10px 15px 10px 15px;
    font-size: 15px;
    font-weight: bold;
    width: 120px;
    background-color: lightgray;
}

#choiceDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#choiceDiv h3{
    color: whitesmoke;
}


#footer{
    background-color: rgb(41, 41, 46);
    height: 35px;
    width: 100%;
    position: fixed;
    bottom: 0;
    border-top: solid;
    border-width: 2px;
}
#madeBy{
    color: white;
    margin-left: 10px;
    margin-top: 5px;
}
#madeBy a {
    margin-left: 3px;
    text-decoration: none;
    color: white;
}
#madeBy a:hover{
    font-weight: bold;
}